.alert{
    transition: all .6s ease-out;
    overflow: hidden;
    max-height: 1000px;
}
.alert_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0;
}
.alert_text{
    width: 95%;
    text-align: center;
}
.alert_text > p > span{
    width: 2px;
    height: 16px;
    display: inline-block;
    background: gray;
    margin: 0 7px;
}

.alert_close{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    opacity: 0.36;
    transition: all .1s linear;
}
.alert_close:hover {
    opacity: 0.6;
}

.alert_line{
    width: 100%;
    height: 1px;
    background: radial-gradient(149.83% 57218.98% at 92.97% 0%, 
        rgba(67, 161, 247, 0.8) 0%, 
        rgba(102, 112, 233, 0.8) 7.29%, 
        rgba(134, 67, 220, 0.8) 14.06%, 
        rgba(247, 67, 175, 0.8) 28.65%, 
        rgba(247, 128, 112, 0.8) 47.85%, 
        rgba(190, 64, 255, 0.8) 57.29%, 
        rgba(32, 188, 255, 0.8) 71.87%, 
        rgba(0, 247, 158, 0.8) 100%);
    background-size: 400% 400%;
    animation: lineAnimation 5s ease infinite;
}

@keyframes lineAnimation {
    0%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 50%;
    }
}

.header_wrapper{
    display: flex;
    padding: 15px 0;
}
.header_col1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header_col1 > ul,
.header_col2 > ul{
    display: flex;
    list-style: none;
    gap: 8px;
}
.header_col1 > ul > a,
.header_col2 > ul > a{
    border-radius: 12px;
    padding: 6px 12px;
    background: transparent;
    color: #939495;
    text-decoration: none;
    transition: all .15 linear;
}

.header_col1 > ul > a:hover,
.header_col2 > ul > a:hover{
    color: #cfcfcf;
}

.header_col1 > ul > .active,
.header_col2 > ul > .active{
    background: #1D1F22;
    color: white;
}

.nav_wrapper{
    display: flex;
    justify-content: space-between;
}

.burger{
    width: 40px;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: none;
}
.burger > span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 2px;
    background: #cfcfcf;
    display: block;
    transition: all .2s linear;
}
.burger >span:nth-child(2){
    top: 9px;
    opacity: 1;
}
.burger >span:nth-child(3){
    top: 18px;
}
.burger.active >span:nth-child(1){
    transform: rotate(40deg) translate(0px, 12px);
}
.burger.active >span:nth-child(2){
    opacity: 0;
}
.burger.active >span:nth-child(3){
    transform: rotate(-40deg) translate(0px, -12px);
}

@media (max-width: 650px) {
    .header_col1 > ul,
    .header_col2 > ul{
        display: none;
    }
    .burger{
        display: block;
    }
}